.carousel-inner img{
	width: 60%;
	height: 60%;
}
.iconos a{
	color: white;
	margin: 5px;
}
.degradado-verde {
  background: -moz-linear-gradient(150deg, #FA8072 0%, #2ab9a5 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #2ab9a5));
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}
footer{
	padding: 32px;
}

.gris-claro{
	background-color: #eec;
}
section{
  padding: 50px;
  background: color-gray
}